# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/package-lock.json

/src/pages/AllRoutes.jsx
/src/pages/Cart.jsx
/src/pages/Cart.module.css
/src/pages/Products.jsx
/src/pages/Signin.jsx
/src/pages/Signup.jsx
/src/pages/Signin.module.css
/src/pages/Products.module.css


/src/Components/SelectComponents
/src/Context

/src/Components/FilterComponents
/src/Components/Footer

/src/Components/OrderSummary
/src/Components/Pagination

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
